@{
    ViewData["Title"] = "Home Page";
}

<h2>Crear Grupo</h2>

<form asp-action="Create">
    <div class="form-group">
        <label >Nombre del Grupo:</label>
        <input  class="form-control" />
        <span  class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Crear Grupo</button>
</form>

