@{
	ViewData["Title"] = "Home Page";
}

<h2>Crear Grupo</h2>

<form asp-controller="Group" asp-action="createGroup" method="post">
	<div class="form-group">
		<label asp="name">Nombre del Grupo:</label>
		<input name="name" id="name" class="form-control" />
		<span class="text-danger"></span>
	</div>
	<br />
	<button type="submit" class="btn btn-primary">Crear Grupo</button>
	<br />
</form>
@if (Model != null)
{
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Código</th>
				<th>Name Grupo</th>
				<th>Acciones</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var group in Model)
			{
				<tr>
					<td>@group.Id</td>
					<td>@group.Name</td>
					<td>
						<form method="post" action="/Group/deleteGroup">
							<input type="hidden" name="id" value="@group.Id" />
							<button type="button" class="btn btn-outline-danger" type="submit">Eliminar</button>
						</form>
					</td>
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<p>No hay datos para mostrar.</p>
}
