@using WSUseExpenseManagerClient;

@{
	ViewData["Title"] = "Home Page";
}

<h2>Registrar Gasto</h2>
<div id="liveAlertPlaceholder"></div>
<form >

	<div class="form-group">
		<label for="groupId">Seleccionar un Grupo:</label>
		<select id="idGroup" name="idGroup" class="form-select" aria-label="Default select example" onchange="updateTable()">
			<option value="">Seleccione </option>
			@foreach (GroupDTO group in Model.groupDTOs)
			{
				<option value="@group.Id">@group.Name</option>
			}
		</select>
	</div>
	<div class="form-group">
		<label for="description">Descripción del Gasto:</label>
		<input type="text" id="description" name="description" class="form-control" />
	</div>

	<div class="form-group">
		<label for="expenses">Monto del Gasto:</label>
		<input type="number" id="expenses" name="expenses" class="form-control" />
	</div>



	<button type="button" class="btn btn-primary" id="saveTransaction" >Registrar Gasto</button>
</form>
<table id="tablaHistorial" class="table">
	<thead>
		<tr>
			<th>ID</th>
			<th>Grupo</th>
			<th>Usuario</th>
			<th>Total Individual</th>
			<th>Gasto</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>
<script>
	function updateTable() {
		var groupId = document.getElementById("idGroup").value;

		fetch('/Group/getHistory?idGroup=' + groupId)
			.then(response => response.json())
			.then(data => {
				actualizarTabla(data);
			})
			.catch(error => {
				console.error('Error al obtener los datos de la tabla:', error);
			});
	}

	function actualizarTabla(data) {
		var tabla = document.getElementById("tablaHistorial").getElementsByTagName("tbody")[0];;

		tabla.innerHTML = "";

		data.forEach(function (historial) {
			var fila = tabla.insertRow();

			var celdaId = fila.insertCell();
			celdaId.innerHTML = historial.idHistory;

			var celdaNombreGrupo = fila.insertCell();
			celdaNombreGrupo.innerHTML = historial.nameGroup;

			var celdaNombreUsuario = fila.insertCell();
			celdaNombreUsuario.innerHTML = historial.nameUser;

			var celdaTotalIndividual = fila.insertCell();
			celdaTotalIndividual.innerHTML = historial.individualTotal;

			var celdaGasto = fila.insertCell();
			celdaGasto.innerHTML = historial.expense;
		});
	}



	document.getElementById("saveTransaction").addEventListener("click", function () {
		saveTransaction();
	});
	function saveTransaction() {
		var idGroup = document.getElementById("idGroup").value;
		var description = document.getElementById("description").value;
		var expenses = document.getElementById("expenses").value;

		var formData = new FormData();
		formData.append("idGroup", idGroup);
		formData.append("description", description);
		formData.append("expenses", expenses);

		fetch('/Group/saveTransaction', {
			method: 'POST',
			body: formData
		})
			.then(response => {
				if (!response.ok) {
					throw new Error('Error en la solicitud');
				}
				return response.json();
			})
			.then(data => {
				console.log(data);
				if(data >0)
					showAlertMessage("La operación  fue ejecutada exitosamente con id: " + data, "success");
				else
					showAlertMessage("Hay problemas en hacer el registro :(", "success");
			})
			.catch(error => {
				console.error('Error en la solicitud:', "error");
			});
	}

	function showAlertMessage(message,type) {
		var alertDiv = document.createElement("div");
		if (type === "success") {
			alertDiv.classList.add("alert-success");
		} else if (type === "error") {
			alertDiv.classList.add("alert-danger");
		}
		alertDiv.textContent = message;

		var placeholderDiv = document.getElementById("liveAlertPlaceholder");

		placeholderDiv.appendChild(alertDiv);

		setTimeout(function () {
			alertDiv.classList.add("fade");
			setTimeout(function () {
				alertDiv.remove();
			}, 1000);
		}, 5000);
	}
</script>