@using WSClient.ApplicationWS
@using WSUseExpenseManagerClient
@{
	ViewData["Title"] = "Index";
}

<h2>Agregar Usuario al Grupo</h2>
<div id="liveAlertPlaceholder"></div>

<form id="userGroupForm">
	<div class="form-group">
		<label for="idGroup">Seleccionar un Grupo:</label>
		<select id="idGroup" name="idGroup" class="form-select" aria-label="Default select example">
			<option value="">Seleccione </option>
			@foreach (GroupDTO group in Model.groupDTOs)
			{
				<option value="@group.Id">@group.Name</option>
			}
		</select>
	</div>
	<div class="form-group">
		<label for="idUser">Buscar un Usuario:</label>
		<select id="idUser" name="idUser" class="form-select" aria-label="Default select example">
			<option value="">Seleccione </option>
			@foreach (UserDTO user in Model.userDTOs)
			{
				<option value="@user.Id">@user.Name</option>
			}
		</select>
	</div>

</form>
<br />
<div class="button-container text-center">
	<div class="form-group d-inline-block mx-2">
		<button type="button" id="userGroupButtonAdd"
				name="userGroupButtonAdd" class="btn btn-primary">
			Agregar Usuario
		</button>
	</div>
	<div class="form-group d-inline-block mx-2">
		<button type="button" id="saveGroupUser" class="btn btn-primary">Guardar Todos</button>
	</div>
	<div class="form-group d-inline-block mx-2">
		<button type="button" id="showGroupUser" class="btn btn-primary" onclick="showGroupUser()">Mostrar</button>
	</div>
</div>
<table class="table table-striped" id="userGroupTable">
	<thead>
		<tr>
			<th>Código</th>
			<th> Grupo</th>
			<th> Usuario</th>
		</tr>
	</thead>
	<tbody>
	</tbody>
</table>


<script type="text/javascript">
	//Add new User-Group
	document.getElementById("userGroupButtonAdd").addEventListener("click", function () {
		if (document.getElementById("idUser").value == "")
			showAlertMessage("Selecione un Usuario", "error");
		else
			updateUserGroup();
	});
	function updateUserGroup() {
		var idUser = document.getElementById("idUser").value;
		var formData = new FormData();
		formData.append("idUser", idUser);

		fetch('/Group/AddUserToGroup', {
			method: 'POST',
			body: formData
		})
			.then(response => {
				if (!response.ok) {
					throw new Error('Hubo un problema con la solicitud.');
				}
				return response.json();
			})
			.then(data => {
				console.log(data);
				actualizarTabla(data);
			})
			.catch(error => {
				console.error('Error en la solicitud:', error);
			});
	}
	//Save To new Group with User
	document.getElementById("saveGroupUser").addEventListener("click", function () {
		if (document.getElementById("idGroup").value === "") {
			showAlertMessage("Selecione un Grupo", "error");
		} else
			saveUserGroup();
	});
	function saveUserGroup() {
		var idGroup = document.getElementById("idGroup").value;

		var formData = new FormData();
		formData.append("idGroup", idGroup);

		fetch('/Group/saveGroupUserForm', {
			method: 'POST',
			body: formData
		})
			.then(response => {
				if (!response.ok) {
					throw new Error('Hubo un problema con la solicitud.');
				}
				return response.json();
			})
			.then(data => {
				console.log(data);
				if (Array.isArray(data)) {
					var jsonString = JSON.stringify(data);
					console.log('IDs de usuarios asociados:', data);
					showAlertMessage("La operación con ID " + jsonString + " fue ejecutada exitosamente.", "success");
					var tbody = document.getElementById('userGroupTable').getElementsByTagName('tbody')[0];
					tbody.innerHTML = '';
				} else {
					console.log('Mensaje del servidor:', data);
					showAlertMessage(data, "error");
				}
			})
			.catch(error => {
				console.error('Error en la solicitud:', error);
			});
	}

	function actualizarTabla(data) {
		var tabla = document.getElementById("userGroupTable").getElementsByTagName("tbody")[0];;

		tabla.innerHTML = "";

		data.forEach(function (groupUser) {
			var fila = tabla.insertRow();

			var celdaId = fila.insertCell();
			celdaId.innerHTML = groupUser.id;

			var celdaNombreGrupo = fila.insertCell();
			celdaNombreGrupo.innerHTML = groupUser.nameGroup;

			var celdaNombreUsuario = fila.insertCell();
			celdaNombreUsuario.innerHTML = groupUser.fullNameUser;

		});
	}

	function showAlertMessage(message, type) {
		var alertDiv = document.createElement("div");
		if (type === "success") {
			alertDiv.classList.add("alert-success");
		} else if (type === "error") {
			alertDiv.classList.add("alert-danger");
		}
		alertDiv.textContent = message;

		var placeholderDiv = document.getElementById("liveAlertPlaceholder");

		placeholderDiv.appendChild(alertDiv);

		setTimeout(function () {
			alertDiv.classList.add("fade");
			setTimeout(function () {
				alertDiv.remove();
			}, 1000);
		}, 5000);
	}

	function showGroupUser() {
		var idGroup = document.getElementById("idGroup").value;

		var formData = new FormData();

		fetch('/Group/getAllGroupUserByUserId', {
			method: 'GET'
		})
			.then(response => {
				if (!response.ok) {
					throw new Error('Hubo un problema con la solicitud.');
				}
				return response.json();
			})
			.then(data => {
				console.log(data);
				actualizarTabla(data);
			})
			.catch(error => {
				console.error('Error en la solicitud:', error);
			});
	}
</script>


