@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido!</h1>
    <p>Bienvenido a la aplicación de gastos compartidos. Empieza agregando un grupo, asigna un usuario al grupo y genera tus transacciones.</p>
</div>
