################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WS.Unit06.User.Application/bin
/WS.Unit06.User.Application/obj
/WS.Unit06.User.Data/bin
/WS.Unit06.User.Web/bin
/WS.Unit06.User.Web/obj
/WS.Unit06.User.Auth/obj
/WS.Unit06.User.Auth/bin
/WS.Unit06.User.Data/ojb

