@{
    Layout = null;
}
<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">Se produjo un error al procesar su solicitud.</h2>


    <p>
        <strong>Acceso no permiitido:</strong> <code>401</code>
    </p>


<h3>Información</h3>
<p>
    Intentas acceder de una forma incorrecta, por favor <strong>regresa al login </strong> <a href="@Url.Action("startLogin","Login")"> Iniciar Sesion</a>.
</p>

